<div class="m-5">
<h1>Users Index.</h1>
<p>Find me in app/views/users/index.html.erb</p>
<% if @users_result %>
    <h2>Results.</h2>
    <div>
        <%= render 'users/result' %>
    </div>
<% end %>
<h2>Users.</h2>
<% @users.each do |user| %>
    <br>
    <%= user.name %><br>
    <%= user.location %>
    <br>
<% end %>
</div>